
<p>
<%= link_to "New Task", new_task_path %>
</p>

<section class = 'row'>

  <aside class = 'col-md-4'>
    <h1 class ='text-center'>To Do</h1>
      <%= render @to_do%>
  </aside>

  <aside class = 'col-md-4'>
    <h1 class ='text-center' >Doing</h1>
    <%= render @doing%>
  </aside>

  <aside class = 'col-md-4'>
    <h1 class ='text-center'>Done</h1>
    <%= render @done%>
  </aside>

</section>
