
<body id="grid" class="bg_img">

  <div class='row time_control'>
    <p class="c_date"></p>
    <p class="c_hour" style="display:inline"></p><p class="c_seconds"style="display:inline;">:</p><p class="c_minutes" style="display:inline;"></p>
  </div>

  <section class ='row '>
    <p style="margin-left:15px;">
    <%= link_to 'New Task', new_task_path %>
    </p>

    <aside class = 'col-md-4 tasks'>
      <H4 class ='text-center'>UPCOMING</H4>
      <div style="color:grey;"><%= render @to_do%></div>
    </aside>

    <aside class = 'col-md-4 tasks'>
      <H4 class ='text-center'>CURRENT</H4>
      <div style="color:grey;">
        <div class="number_badge">
          <%= render @doing%>
        </div>
      </div>
    </aside>

    <aside class = 'col-md-4 tasks'>
      <H4 class ='text-center'>FINISHED</H4>
    <div style="color:grey;"><%= render @done%> </div>
    </aside>

  </section>

</body>

<script>
let listChild = $(".number_badge .panel-info").length;
console.log(listChild);

for (let i=0; i <= listChild; i++){
  $(".number_badge .panel-infol").prepend(i + ":")
}


let monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
let c_date = new Date();
let c_hour = c_date.getHours();
let c_month = c_date.getMonth();
let c_minutes = c_date.getMinutes();
let tod = "a.m.";

if (c_minutes < 10 ){
  c_minutes = "0" + c_minutes;
}

if (c_hour > 12){
  c_hour = c_hour - 12;
  tod = "p.m."
}

$(".c_date").append( monthNames[c_month]+" ");
$(".c_date").append(c_date.getDate());
$(".c_date").append( ", " +c_date.getFullYear() );
$(".c_hour").append( " " + c_hour);
$(".c_minutes").append(c_minutes + " " + tod);


</script>
