<body style="color:white;">

  <p>
  <%= link_to 'New Task', new_task_path %>
  </p>

  <section class ='row'>

    <aside class = 'col-md-4'>
      <h1 class ='text-center'>To Do</h1>
      <div style="color:grey;">  <%= render @to_do%></div>
    </aside>

    <aside class = 'col-md-4'>
      <h1 class ='text-center' >Doing</h1>
      <div style="color:grey;"><%= render @doing%> </div>
    </aside>

    <aside class = 'col-md-4'>
      <h1 class ='text-center'>Done</h1>
    <div style="color:grey;">  <%= render @done%> </div>
    </aside>

  </section>

</body>
