

////Grid BG/////
html {
  height: 100%;
}

#grid{
  background-image: linear-gradient(0deg, transparent 24%, rgba(0, 0, 0, .05) 25%, rgba(0, 0, 0, .05) 26%, transparent 27%, transparent 74%, rgba(0, 0, 0, .05) 75%, rgba(0, 0, 0, .05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(0, 0, 0, .05) 25%, rgba(0, 0, 0, .05) 26%, transparent 27%, transparent 74%, rgba(0, 0, 0, .05) 75%, rgba(0, 0, 0, .05) 76%, transparent 77%, transparent);
  height:100%;
  background-size:50px 50px;
}

////////////////
.bg_img{
  color:rgb(40, 138, 152);
  margin: 0;
  padding:0px;
  height: 100%;
  background-color: #eee;
  background-image:linear-gradient(#434343, #282828);
}

.tasks {
  .bg_img{
    background-repeat: no-repeat;
    background-size: auto;
  }
}
.panel-body{
  padding:0px 15px;
  font-size: 1.2em;
}
a{
  color:rgb(40, 138, 152);
 }
.panel2{
  border-bottom: 1px solid rgba(170, 170, 170,.4);
  color:rgb(77, 77, 77);
  background: linear-gradient(rgba(254, 252, 252, 0.4), rgba(254, 252, 252, 0.4));
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.05);
  a{
    color:rgba(136, 236, 139, 0);
  }
}

.panel2:hover{
  border-bottom: 1px solid rgba(170, 170, 170, 0);
  border: 1px solid rgb(40, 138, 152);
  color:rgba(226, 225, 225, 0.73);
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  a{
    color:rgb(40, 138, 152);
  }
  .panel-heading2{
    height:26px;
    padding: 5px 10px;
  }
  .panel_footer2{
    height:23px;
    padding: 12px 10px;
  }
}
.panel-heading2{
  padding: 3px 10px;
  height:0px;
  font-size:.75em;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.panel-footer2{
  height:0px;
  font-size:.75em;
  padding: 3px 10px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.c_date{
  margin:0px;
  width:100%;
  float:left;
  font-size:2.5em;
}
.c_time{
  width:100%;
  float:left;
  font-size:2.5em;
}
.c_hour{
  font-size:2.5em;
}
 .c_seconds{
  font-size:2.5em;
}
.c_minutes{
  font-size:2.5em;
}

.time_control{
  padding: 5px 10px;
  width:100%;
  margin-bottom:20px;
}

.c_seconds {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% { opacity: .4; }
}
